body{
    margin: 0;
    padding: 0;
    /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/ssss.jpg);
    height: 100vh;
    background-size: cover;
    height: 100vh;
    background-position: center; */
    font-family: century gothic;
}

.show video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;}
    
.container{
    width: 1280px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 203px;
    height: 190PX;
    /* background: #ff0; */
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
}
.container .box:hover .imgBox img{
    transform: scale(1.2);
}
.container .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.5);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .box:hover .details{
    transform: scaleY(1);
}

.container .box .details .content{
    /* position: absolute;
    top: 50%; 
     */
    padding: 50px 0px 50px 0px;
    /* transform: translate(-50%);  */ 
    text-align: center;
    /* padding: 15px; */
    color: white;
}




